* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-subtitle-color: #1b1b1b;
  --footer-figure-color: #8f8f8f;
  --list-color: #39393a;
  --bg-color: #eaeaea;
  --bg-container-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  padding-top: 50px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: var(--title-subtitle-color);
}
h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--title-subtitle-color);
}

figcaption{
  text-align: right;
  padding-right: 25px;
}

#container {
  background: var(--bg-container-color);
  margin: auto;
  border-radius: 20px;
  width: 50%;
}


#container li {
  color: var(--list-color);
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
  list-style-position: inside;
  text-align: left;
  padding-left: 20px;
}

#container ul{
  padding: 24px 0;
}

#container ol{
  padding: 24px 0;
}

#container p{
  line-height: 50px;
  padding-left: 20px;
  font-weight: 400;
  color: var(--list-color);
}

#container figure {
  font-size: 12px;
  color: var(--footer-figure-color);
}

#container img {
  display: flex;
  border-radius: 10px;
  margin: auto;  
  width: 750px;
  height:200px;
  object-fit: cover;
}
